<div [@routerTransition]>
    <div class="container-fluid">
        <div class="clearfix">
            <div class="row pt-30">
                <div class="col-sm-8">
                    <p class="text-21 db-c"> Yearly Progress </p>
                </div>

                <div class="col-sm-4 clsProgress_tab">
                    <ul class="nav nav-tabs justify-content-end" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" style="background: #004fac;color: white;" [routerLink]="['/admin/employee']" id="progress_user" aria-controls="progress_user" role="tab" data-toggle="tab" aria-selected="false">Users</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="progress_user">
                    <figure class="highcharts-figure">
                        <div id="container1"></div>
                    </figure>
                </div>

                <div role="tabpanel" class="tab-pane active" id="progress_apps">
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                    </figure>
                </div>
            </div>
        </div>

        <div class="row clsDataValue pt-40" *ngIf="stats">
            <div class="col-sm-6">
                <div class="clsInner">
                    <div class="d-flex justify-content-center">
                        <div class="media pb-30">
                            <img class="align-self-center  mr-3" src="assets/images/login/user.svg" alt="users"
                                style="height: 50px;">
                            <div class="media-body">
                                <p class="whitec"> Total Check Ups </p>
                                <h2> {{ stats.checkups.checkups ? stats.checkups.checkups : 0}} </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-6 clsBor-right">
                            <p class="whitec"> No Symptoms </p>
                            <h2> {{stats.non_symptoms}} </h2>
                        </div>
                        <div class="col-sm-6">
                            <p class="whitec"> Symptoms </p>
                            <h2> {{stats.symptoms}} </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="clsInner">
                    <div class="d-flex justify-content-center">
                        <div class="media pb-30">
                            <img class="align-self-center mr-3" src="assets/images/login/smartphone.svg" alt="phone"
                                style="height: 70px;">
                            <div class="media-body">
                                <p class="whitec"> Total Employee Tested </p>
                                <h2> {{stats.emptested}} </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-3 clsBor-right">
                            <p class="whitec"> Negative </p>
                            <h2> {{stats.negative}} </h2>
                        </div>

                        <div class="col-sm-3 clsBor-right">
                            <p class="whitec"> Positive </p>
                            <h2> {{stats.positive}} </h2>
                        </div>

                        <div class="col-sm-3 clsBor-right">
                            <p class="whitec"> Untested </p>
                            <h2> {{stats.unstested}} </h2>
                        </div>

                        <div class="col-sm-3">
                            <p class="whitec"> Quarantined </p>
                            <h2> {{stats.quarantined}} </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-60 clearfix">
            <p class="text-21 db-c"> B-ID Users </p>

            <div class="table-responsive clsDashTable mb-30">
                <table class="table">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> B-ID </th>
                            <th> Name </th>
                            <th> Phone </th>
                            <th> Email </th>
                            <th> Age </th>
                            <th> Nationality </th>
                            <th> Check Ups </th>
                            <th> Status </th>
                            <th> Type </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cur-poin" *ngFor="let user of users; let indexUser = index">
                            <td>{{indexUser + 1}}</td>
                            <td><a href="javascript:void(0)" [routerLink]="['/admin/employeeprofile']" [queryParams]="{id:user.id}">{{user.id}}</a></td>
                            <td>
                                <div class="media">
                                    <app-attachment [attachment]="user.attachment" [cssClass]="'clsCircleImg'" [type]="original"></app-attachment>
                                    <div class="media-body  pl-20 align-self-center">
                                        <p> {{user.name}} </p>
                                    </div>
                                </div>
                            </td>
                            <td>{{user.mobile}}</td>
                            <td>{{user.email}}</td>
                            <td> {{user.age | age}} </td>
                            <td>{{user.country ? user.country.name : ''}}</td>
                            <td>{{user.checkups}}</td>
                            <td>{{user.last_test_status ? 'Positive' : 'Negative'}}</td>
                            <td>{{user.test_type ? user.test_type.name : ''}}</td>
                            <td> <button class="btn btn-sm btn-primary width_in" type="button" (click)="suspendOrActivate(user.id, user.is_active)"> {{((user.is_active === 1) ? 'Suspend' : 'Unsuspend')}} </button> </td>
                        </tr>
                        <tr *ngIf="users && users.length === 0">
                            <td colspan="11">No Records</td>
                         </tr>
                     </tbody>
                </table>
            </div>
        </div>
    </div>
</div>