<!-- @format -->

<nav
    class="sidebar"
    [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}"
>
    <div class="list-group" *ngIf="menus">
        <span *ngFor="let menu of menus">
            <a href="javascript:void(0)" *ngIf="!menu.child_sub_menu" (click)="redirect(menu.route)" class="list-group-item" >
                <i class="{{ menu.icon_class }}"></i>&nbsp;
                <span>{{ menu.title }}</span>
            </a>
            <div class="nested-menu" *ngIf="menu.child_sub_menu">
                <a class="list-group-item" (click)="addExpandClass(menu.title)">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>{{ menu.title }}</span>
                </a>
                <li class="nested" *ngFor="let child of menu.child_sub_menu" [class.expand]="showMenu === menu.title">
                    <ul class="submenu">
                        <li>
                            <a (click)="redirect(child.route)" href="javascript:void(0)">
                                <i class="{{ menu.icon_class }}"></i>&nbsp;
                                <span>{{ child.title }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </span>
        <div class="header-fields">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
        </div>
    </div>
    <div
        class="toggle-button"
        [ngClass]="{collapsed: collapsed}"
        (click)="toggleCollapsed()"
    >
        <i
            class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"
        ></i
        >&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
