<!-- @format -->

<!-- <nav
    class="sidebar"
    [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}"
>
    <div class="list-group" *ngIf="menus">
        <span *ngFor="let menu of menus">
            <a href="javascript:void(0)" *ngIf="!menu.child_sub_menu" (click)="redirect(menu.route)" class="list-group-item" >
                <i class="{{ menu.icon_class }}"></i>&nbsp;
                <span>{{ menu.title }}</span>
            </a>
            <div class="nested-menu" *ngIf="menu.child_sub_menu">
                <a class="list-group-item" (click)="addExpandClass(menu.title)">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>{{ menu.title }}</span>
                </a>
                <li class="nested" *ngFor="let child of menu.child_sub_menu" [class.expand]="showMenu === menu.title">
                    <ul class="submenu">
                        <li>
                            <a (click)="redirect(child.route)" href="javascript:void(0)">
                                <i class="{{ menu.icon_class }}"></i>&nbsp;
                                <span>{{ child.title }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </span>
        <div class="header-fields">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
        </div>
    </div>
    <div
        class="toggle-button"
        [ngClass]="{collapsed: collapsed}"
        (click)="toggleCollapsed()"
    >
        <i
            class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"
        ></i
        >&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg">
    <div class="clearfix">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo_small.svg" alt="logo"> <span> B-ID Hub </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav clsMenuList">
                <li class="active">
                    <a href="admin_dashboard.html" class="clsIcon clsOver">
                        <span> Overview </span>
                    </a>
                </li>

                <li>
                    <a href="admin_users.html" class="clsIcon clsUser">
                        <span> Users </span>
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle clsIcon clsPage" href="#" role="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span> Pages </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"> Personal </a>
                        <a class="dropdown-item" href="#"> Business </a>
                    </div>
                </li>

                <li>
                    <a href="#" class="clsIcon clsPersonal">
                        <span> App (personal) </span>
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle clsIcon clsBusiness" href="#" role="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span> App (business) </span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"> App </a>
                        <a class="dropdown-item" href="#"> Doc Scan </a>
                        <a class="dropdown-item" href="#"> Age Scan </a>
                    </div>
                </li>

                <li>
                    <a href="#" class="clsIcon clsPending">
                        <span> Pending Accounts </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clsIcon clsAdmin">
                        <span> Admin Users </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clsIcon clsDiscover">
                        <span> Discover </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clsIcon clsFeed">
                        <span> Feedback
                            <span class="text-b lb-c"> (04) </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clsIcon clsMessage">
                        <span>
                            Messages <span class="text-b lb-c"> (13) </span>
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav clsChangePwd">
                <li>
                    <a href="#" class="clsIcon clsLock">
                        <span> Change Password </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clsIcon clsLogout">
                        <span> Logout </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>