<div class="container-fluid">
    <div class="pt-40 clearfix">
        <div class="clsRadioBlock">
            <div class="row">
                <div class="col-sm-2">
                    <p class="text-21 pt-10"> Details </p>
                </div>

                <div class="col-sm-10 justify-content-end d-flex">
                    <form action="" class="form-inline mb-20">
                        <div class="form-group pl-20">
                            <label for="from_date" class="pr-10"> From </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 12 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group pl-20 pr-20">
                            <label for="to_date" class="pr-10"> To </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 19 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group pad-top-5" *ngIf="metaData">
                            <p class="text-b db-c"> Total {{previousPage ? previousPage : 1}} of {{metaData.total}} </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-checkbox">
                <thead>
                    <tr>
                        <th> Sl.NO </th>
                        <th> Name </th>
                        <th> Test Type </th>
                        <th> Status </th>
                        <th> Date Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let indexUser = index">
                        <td>{{indexUser + 1}}</td>
                        <td> {{user.first_name}} {{user.last_name}}</td>
                        <td> {{user.test_type ? user.test_type.name : ''}} </td>
                        <td> {{user.last_test_status ? user.last_test_status.name : ''}}   </td>
                        <td class="text-right"> 07 December 2019 , 00:49 </td>
                    </tr>
                    <tr *ngIf="users && users.length === 0">
                        <td colspan="5">No Records</td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix pagination justify-content-center" *ngIf="metaData">
        <ngb-pagination [collectionSize]="metaData.total" [pageSize]="metaData.per_page"
            [(page)]="metaData.current_page" [maxSize]="7" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
            (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>