<!-- Product Details Start -->
<div class="content-middle">
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <img src="assets/images/productdet.jpg" class="proDetimg" />
                <div class="d-md-inline d-sm-inline d-inline">
                    <img src="assets/images/dummy-thumb.jpg" class="selectImg" />
                    <img src="assets/images/dummy-thumb.jpg" class="selectImg" />
                    <img src="assets/images/dummy-thumb.jpg" class="selectImg" />
                </div>
                <div class="prductDetails">   
                    <h6 class="titleh6 pt-2">Product Name</h6>  
                    <h4>Lorem Ipsum</h4> 
                    <h6 class="titleh6 pt-1">Product Description</h6>
                    <p class="textp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="titleh6">Discount</h6>
                            <h5>10% off</h5>
                        </div>
                        <div class="col-md-6">
                            <h6 class="titleh6">Discount Code</h6>
                            <h5>I Love IMAS</h5>
                        </div>
                        <div class="col-md-6">
                            <h6 class="titleh6">Quantity</h6>
                            <h5>10 items</h5>
                        </div>
                        <div class="col-md-6">
                            <h6 class="titleh6">Colors</h6>
                            <div class="chooseColor colorOne"></div>
                            <div class="chooseColor colorTwo"></div>
                        </div>
                        <div class="col-md-12">
                            <h6 class="titleh6">Sizes</h6>
                            <h5>XS <span class="lightLine">|</span> S <span class="lightLine">|</span> M <span class="lightLine">|</span> L <span class="lightLine">|</span>  XXL</h5>
                        </div>
                    </div>   
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary primaryBtn mt-4">Add to Listings</button>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
<!-- Product Details End -->