<div class="pt-40 clearfix">
    <div class="text-right clsRadioBlock">
        <form action="">
            <div class="form-group">
                <div class="inline-show pl-20">
                    <input type="radio" id="all" name="radio_group_1" checked>
                    <label for="all"> All </label>
                </div>

                <div class="inline-show pl-20">
                    <input type="radio" id="active" name="radio_group_1">
                    <label for="active"> Positive </label>
                </div>

                <div class="inline-show pl-20 pr-40 sep-right">
                    <input type="radio" id="Suspend" name="radio_group_1">
                    <label for="Suspend"> Negative </label>
                </div>

                <div class="inline-show pl-30">
                    <input type="radio" id="all_pb" name="radio_group_2" checked>
                    <label for="all_pb"> Untested </label>
                </div>

                <div class="inline-show pl-20">
                    <input type="radio" id="personal" name="radio_group_2">
                    <label for="personal"> Quarantined </label>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive clsDashTable mb-30">
        <table class="table">
            <thead>
                <tr>
                    <th> # </th>
                    <th> B-ID </th>
                    <th> Name </th>
                    <th> Phone </th>
                    <th> Email </th>
                    <th> Age </th>
                    <th> Nationality </th>
                    <th> Check Ups </th>
                    <th> Status </th>
                    <th> Type </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cur-poin" *ngFor="let user of users; let indexUser = index">
                    <td>{{indexUser + 1}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <div class="media">
                            <img class="clsCircleImg" src="assets/images/user_icon.png" alt="...">
                            <div class="media-body  pl-20 align-self-center">
                                <p> {{user.name}} </p>
                            </div>
                        </div>
                    </td>

                    <td>{{user.mobile}}</td>

                    <td>{{user.email}}</td>

                    <td> {{user.age | age}} </td>

                    <td>{{user.country ? user.country.name : ''}}</td>

                    <td>{{user.checkups}}</td>

                    <td>{{user.last_test_status ? 'Positive' : 'Negative'}}</td>

                    <td>{{user.test_type ? user.test_type.name : ''}}</td>

                    <td> <button class="btn btn-sm btn-primary width_in"> Suspend </button> </td>
                </tr>
             </tbody>
        </table>
    </div>

    <div class="clearfix">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled no-bor">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>

            <li class="page-item disabled no-bor">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#"> 1 </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#"> 2 </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#"> 3 </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#"> 4 </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#"> 5 </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#"> 6 </a>
            </li>

            <li class="page-item no-bor">
                <a class="page-link" href="#" aria-label="Next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>

            <li class="page-item no-bor">
                <a class="page-link" href="#" aria-label="Next">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>