<div class="pt-40 clearfix">
    <div class="row pt-30">
        <div class="col-sm-8">
        </div>

        <div class="col-sm-4 clsProgress_tab">
            <ul class="nav nav-tabs justify-content-end" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" style="background: #004fac;color: white;" [routerLink]="['/admin/actions/users/add']" id="progress_user" aria-controls="progress_user" role="tab" data-toggle="tab" aria-selected="false">Add Users</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-right clsRadioBlock">
        <form action="">
            <div class="form-group">
                <div class="inline-show pl-20">
                    <input type="radio" id="all" (click)="getUsers('All', null)" name="radio_group_1" checked>
                    <label for="all"> All </label>
                </div>

                <div class="inline-show pl-20">
                    <input type="radio" id="active" (click)="getUsers('Positive', null)" name="radio_group_1">
                    <label for="active"> Positive </label>
                </div>

                <div class="inline-show pl-20 pr-40 sep-right">
                    <input type="radio" id="Suspend" (click)="getUsers('Negative', null)" name="radio_group_1">
                    <label for="Suspend"> Negative </label>
                </div>

                <div class="inline-show pl-30">
                    <input type="radio" id="all_pb" (click)="getUsers(null, 'Untested')" name="radio_group_2" checked>
                    <label for="all_pb"> Untested </label>
                </div>

                <div class="inline-show pl-20">
                    <input type="radio" id="personal" (click)="getUsers(null, 'Quarantined')" name="radio_group_2">
                    <label for="personal"> Quarantined </label>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive clsDashTable mb-30">
        <table class="table">
            <thead>
                <tr>
                    <th> # </th>
                    <th> B-ID </th>
                    <th> Name </th>
                    <th> Phone </th>
                    <th> Email </th>
                    <th> Age </th>
                    <th> Nationality </th>
                    <th> Check Ups </th>
                    <th> Status </th>
                    <th> Type </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cur-poin" *ngFor="let user of users; let indexUser = index">
                    <td>{{indexUser + 1}}</td>
                    <td><a href="javascript:void(0)" [routerLink]="['/admin/employeeprofile']" [queryParams]="{id:user.id}">{{user.id}}</a></td>
                    <td>
                        <div class="media">
                            <app-attachment [attachment]="user.attachment" [cssClass]="'clsCircleImg'" [type]="original"></app-attachment>
                            <div class="media-body  pl-20 align-self-center">
                                <p> {{user.name}} </p>
                            </div>
                        </div>
                    </td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.email}}</td>
                    <td> {{user.age | age}} </td>
                    <td>{{user.country ? user.country.name : ''}}</td>
                    <td>{{user.checkups}}</td>
                    <td>{{user.last_test_status ? 'Positive' : 'Negative'}}</td>
                    <td>{{user.test_type ? user.test_type.name : ''}}</td>
                    <td> <button class="btn btn-sm btn-primary width_in"> Suspend </button> </td>
                </tr>
                <tr *ngIf="users && users.length === 0">
                    <td colspan="11">No Records</td>
                 </tr>
             </tbody>
        </table>
    </div>

    <div class="clearfix pagination justify-content-center"  *ngIf="metaData">
        <ngb-pagination [collectionSize]="metaData.total" [pageSize]="metaData.per_page"
            [(page)]="metaData.current_page" [maxSize]="7" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
            (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>