<!-- Banner Start -->
<section class="innerBanners">
    <div class="innerBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="innerBanners_box">
                    <h1>Contestants</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><a href="javascript:void(0)">PAGES</a></li>
                        <li><p>CONTESTANTS</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Contestants Start -->
<section class="contestantsSec">    
    <div class="container">
        <div class="row" *ngIf="!isNodata">
            <div class="col-md-12"><h2>{{categoryName}}</h2></div>
            <div class="col-md-4" *ngFor="let user of users; trackBy: trackById">
                <div class="contestantsBox">
                    <app-attachment [attachment]="user.attachment" [type]="original" [cssClass]="'img-fluid'">
                    </app-attachment>
                    <div class="contestantsBox_overlay"></div>                    
                </div>
                <div class="contestantsText_1">
                    <h4>NOMINEE <span>@nicolekirkland</span></h4>
                    <p>VOTE NOW @ ITSTHEIMES.COM/nicolekirkland</p>
                </div>
                <div class="contestantsText_2">
                    <h3>{{categoryName}}</h3>
                    <h5>Celebrating & Promoting & Women Empowerment</h5>
                </div>
                <div class="contestantsText_3">
                    <p>2021</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contestants End -->