<!-- Congratulations Status Start -->
<div class="content-middle">
    <div class="container">
        <div class="row">
            <div class="offset-md-4 col-md-4 text-center">
                <div class="prductStatus">
                    <i class="fa fa-check"></i>    
                    <p class="textp pt-4">Congratulations!</p>   
                    <p class="textp pb-5">Your <span class="bold400">Product</span> is<br>now being listed</p>   
                    <button type="submit" class="btn btn-primary primaryBtn mt-4">Add more Products</button>
                    <button type="submit" class="btn btn-primary secondryBtn mt-3">Visit Shop</button>
                </div>            
            </div>
        </div>
    </div>
</div>
<!-- Congratulations Status End -->