<div class="container-fluid">
    <div class="pt-40 clearfix mb-50">
        <div class="media">
            <img src="assets/images/user_icon.png" class="clsWidth-58 clsRound-100" alt="">

            <div class="media-body  pl-20 align-self-center">
                <div class="clearfix">
                    <p class="db-c pull-left text-m"> Name (B-ID:ABC-123456) </p>
                    <p class="db-c pull-right text-m"> 07 December 2019 , 00:49 </p>
                </div>
                <p class="text-14"> jose.rivera@mail.com </p>

                <div class="clearfix pt-40">
                    <p>
                        In at iaculis lorem. Praesent tempor dictum tellus ut molestie. Sed sed ullamcorper
                        lorem, id faucibus odio. Duis eu nisl ut ligula cursus molestie at at dolor. Nulla
                        est justo, pellentesque vel lectus eget, fermentum varius dui. Morbi faucibus quam
                        sed efficitur interdum. Suspendisse in pretium magna. Vivamus nec orci purus.
                        Quisque accumsan dictum urna semper laoreet. Sed id rutrum tellus. In nisi sapien,
                        sagittis faucibus tincidunt et, lacinia id felis. Ut tempor lectus porta, tempus
                        orci ac, feugiat tellus. Suspendisse sagittis libero vitae metus sodales, id semper
                        justo congue. Donec quam lorem, efficitur sit amet ex dapibus, venenatis sodales
                        justo. Nulla arcu tellus, lacinia ac feugiat ac, cursus eget felis. Pellentesque
                        fringilla quam ac ex convallis, vel imperdiet magna laoreet.
                    </p>
                </div>

                <div class="cleaffix pt-30 text-left clsReply">
                    <button type="button" class="btn btn-secondary btn-lg clsMinWidth-200" id="replyBtn"> Reply
                    </button>
                    <button type="button" class="btn btn-secondary btn-lg clsMinWidth-200"> Delete </button>
                </div>

                <div class="clearfix clsReplyText pt-40 d-none">
                    <form action="" class="">
                        <div class="form-group">
                            <label for=""> Reply to Name </label>
                            <textarea name="" id="" class="form-control"></textarea>
                        </div>

                        <button type="button" class="btn btn-secondary btn-lg clsMinWidth-200" id="sentBtn"> Send
                        </button>
                    </form>
                </div>

                <div class="clearfix pt-40 clsReplyMedia d-none">
                    <div class="media">
                        <img src="assets/images/user_icon.png" class="clsWidth-58 clsRound-100" alt="">

                        <div class="media-body pl-20 align-self-center">
                            <p class="db-c pull-left text-m"> Name (B-ID:ABC-123456) </p>
                        </div>
                    </div>

                    <p class="pt-20">
                        In at iaculis lorem. Praesent tempor dictum tellus ut molestie. Sed sed ullamcorper
                        lorem, id faucibus odio. Duis eu nisl ut ligula cursus molestie at at dolor. Nulla
                        est justo, pellentesque vel lectus eget, fermentum varius dui. Morbi faucibus quam
                        sed efficitur interdum. Suspendisse in pretium magna. Vivamus nec orci purus.
                        Quisque accumsan dictum urna semper laoreet. Sed id rutrum tellus. In nisi sapien,
                        sagittis faucibus tincidunt et, lacinia id felis. Ut tempor lectus porta, tempus
                        orci ac, feugiat tellus. Suspendisse sagittis libero vitae metus sodales, id semper
                        justo congue. Donec quam lorem, efficitur sit amet ex dapibus, venenatis sodales
                        justo. Nulla arcu tellus, lacinia ac feugiat ac, cursus eget felis. Pellentesque
                        fringilla quam ac ex convallis, vel imperdiet magna laoreet.
                    </p>

                    <div class="cleaffix pt-30 text-left">
                        <button type="button" class="btn btn-secondary btn-lg clsMinWidth-200" id="replyBtn"> Reply
                        </button>
                        <button type="button" class="btn btn-secondary btn-lg clsMinWidth-200"> Delete </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>