<!-- Banner Start -->
<section class="executiveBanners">
    <div class="executiveBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="executiveBanners_box">
                    <h1>Judges</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><p>JUDGES</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Team Start -->
<section class="judgespageSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="judgespageSec-box">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-Media">
                                <img src="assets/images/executiveteam1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-content">
                                <h3>Michael Casey</h3>
                                <h6>CEO</h6>
                                <p>Lorem ipsum dolor sit amet, elit.</p>
                                <div class="judgespageSec-social mt-4">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="judgespageSec-box">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-Media">
                                <img src="assets/images/executiveteam2.jpg" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-content">
                                <h3>Amelia May</h3>
                                <h6>ART DIRECTOR</h6>
                                <p>Lorem ipsum dolor sit amet, elit.</p>

                                <div class="judgespageSec-social mt-4">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="judgespageSec-box">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-Media">
                                <img src="assets/images/executiveteam3.jpg" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-content">
                                <h3>Serg Thompson</h3>
                                <h6>CATEGORY2ER</h6>
                                <p>Lorem ipsum dolor sit amet, elit.</p>

                                <div class="judgespageSec-social mt-4">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="judgespageSec-box">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-Media">
                                <img src="assets/images/executiveteam1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="judgespageSec-content">
                                <h3>Vlad Argento</h3>
                                <h6>MANAGER</h6>
                                <p>Lorem ipsum dolor sit amet, elit.</p>

                                <div class="judgespageSec-social mt-4">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team End -->