<!-- @format -->

<div class="login-page signup-page">
    <div class="signupwhite">
        <div class="py-4">
            <div class="text-center toplogo">
                <img src="assets/images/login-logo.jpg" class="img-fluid" />
            </div>
            <form role="form">
                <div class="resendlink">
                    <h2>Check your mail!</h2>
                    <p>
                        Instructions to reset your password has been sent to
                        your email.
                    </p>
                </div>
                <div class="login-actions">
                    <a class="btn rounded-btn register-btn">{{
                        'Reset Password' | translate
                    }}</a>
                </div>
            </form>
            <div class="questionsemail mx-auto text-center">
                <p>
                    For any questions or problems please email us at
                </p>
                <div class="text-uppercase contact-email">
                    <a href="javascript:void(0)">COMPANY@EMAIL.COM</a>
                </div>
            </div>
        </div>
    </div>
</div>
