<div class="container-fluid" *ngIf="user">
    <div class="clearfix pt-40 mb-50">
        <div class="row">
            <div class="col-sm-6">
                <div class="clsProfileTab pr-50">
                    <p class="text-21 sep-bot text-m db-c pb-5"> Employee </p>
                    <div class="media pt-15">
                        <div class="media-left pr-30" *ngIf="user.attachment">
                            <app-attachment [attachment]="user.attachment" [cssClass]="'media-object'" [type]="original"></app-attachment>
                        </div>
                        <div class="media-body media-middle">
                            <div class="row pb-20">
                                <div class="col-sm-6">
                                    <p class=""> Full Name </p>
                                    <p class="text-sb db-c">{{(user.first_name || user.last_name) ? (user.first_name + ' '+user.last_name) : 'N/A'}}</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class=""> Work email Address </p>
                                    <p class="text-sb db-c">{{user.email ? user.email : 'N/A'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix pt-50">
                        <p class="text-21 sep-bot text-m db-c pb-5"> Addresses </p>

                        <div class="row pb-20 pt-30">
                            <div class="col-sm-6">
                                <p class="pb-10"> Registered Address </p>
                                <address *ngIf="user.address || user.address.addressline1 || user.address.addressline2 || user.address.city || user.address.country">
                                    <span *ngIf="user.address.addressline1">{{user.address.addressline1}} <br></span>
                                    <span *ngIf="user.address.addressline2">{{user.address.addressline2}}<br></span>
                                    <span *ngIf="user.address.city">{{user.address.city}}<br></span>
                                    <span *ngIf="user.address.country">{{user.address.country}}</span>
                                </address>
                                <address *ngIf="!user.address.addressline1 && !user.address.addressline2 && !user.address.city && !user.address.country">N/A</address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="clsProfileTab pl-50">
                    <p class="text-21 sep-bot text-m db-c pb-5"> Health Report </p>
                    <div class="row pb-20 pt-40">
                        <div class="col-sm-6">
                            <p class=""> Type of Test </p>
                            <p class="text-sb db-c">{{user.test_type ? user.test_type.name : 'N/A'}}</p>
                        </div>
                        <div class="col-sm-6">
                            <p class=""> Completed Test </p>
                            <p class="text-sb db-c">{{user.checkups ? user.checkups : 'N/A'}}</p>
                        </div>
                    </div>

                    <div class="row pb-20">
                        <div class="col-sm-6">
                            <p class=""> Status </p>
                            <p class="text-sb db-c"> {{(user.last_test_status || user.last_test_status == 0) ? ((user.last_test_status == 0) ? 'Negative' : 'Positive') : ''}} </p>
                        </div>
                        <div class="col-sm-6">
                            <p class=""> Last Dated </p>
                            <p class="text-sb db-c">
                                <span class="show"> Date: {{user.last_test_date}} </span>
                                <span class="show"> Time: 12:45AM </span>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix pt-40" *ngIf="user.daily_test">
                        <p class="text-21 sep-bot text-m db-c pb-5"> Daily Check Up </p>

                        <div class="row pb-20 pt-40">
                            <div class="col-sm-6">
                                <p class=""> Status </p>
                                <p class="text-sb db-c"> {{user.daily_test ? 'Yes Symptoms' : 'No Symptoms'}} </p>
                            </div>
                            <div class="col-sm-6">
                                <p class=""> Last Check Up </p>
                                <p class="text-sb db-c">
                                    <span class="show"> Date: {{user.daily_test.fill_date}}</span>
                                    <span class="show"> Time: {{created_at}}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix pt-40" *ngIf="user.daily_test">
                        <p class="text-21 sep-bot text-m db-c pb-5"> Anwsers </p>

                        <div class="row pb-20 pt-40">
                            <div class="col-sm-12">
                                <p class="text-sb db-c"> 1. Experiencing any symptoms? </p>
                                <p class=""> {{this.syst.length > 0 ? this.syst.toString() : ''}} </p>
                            </div>

                            <div class="col-sm-12 pt-10">
                                <p class="text-sb db-c"> 2. Have you been tested for COVID-19 in the last 2
                                    weeks? </p>
                                <p class=""> A: Yes </p>
                            </div>

                            <div class="col-sm-12 pt-10">
                                <p class="text-sb db-c"> 3. What is the Result? </p>
                                <p class=""> A: Negative </p>
                            </div>

                            <div class="col-sm-12 pt-10">
                                <p class="text-sb db-c"> 4. Were you exposed to someone who has tested
                                    positive for COVID-19 within 2 weeks? </p>
                                <p class=""> A: Not Sure </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-30">
        <div class="col-sm-6 offset-sm-6 text-left pl-50">
            <a type="button" class="btn btn-secondary btn-lg clsMinWidth-200" data-toggle="modal"
                data-target="#reject_reason">
                Quarantine </a>
            <a href="javascript:void(0);" type="button" class="btn btn-white btn-lg clsMinWidth-200"> Histroy </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade custom-modal clsReject" id="reject_reason" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Quarantine Reason </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="">
                    <div class="form-group mb-0">
                        <textarea name="" id="" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-right clearfix">
                    <button type="submit" class="btn btn-secondary btn-lg clsMinWidth-170"> submit </button>
                </div>
            </div>
        </div>
    </div>
</div>