<div class="container-fluid">
    <div class="pt-40 clearfix">
        <div class="clsRadioBlock">
            <div class="row">
                <div class="col-sm-12 justify-content-end d-flex">
                    <form action="" class="form-inline mb-20">
                        <div class="form-group pl-20">
                            <label for="from_date" class="pr-10"> From </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 12 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group pl-20 pr-20">
                            <label for="to_date" class="pr-10"> To </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 19 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="inline-show pl-20">
                                <input type="radio" id="all" name="radio_group_1" checked>
                                <label for="all"> All </label>
                            </div>

                            <div class="inline-show pl-20">
                                <input type="radio" id="active" name="radio_group_1">
                                <label for="active"> Reinstated </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive mb-30 clsReceipt-table">
            <table class="table table-sm mb-20">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Employee Name </th>
                        <th> Department </th>
                        <th> Contact Link </th>
                        <th> Quarantine Date </th>
                        <th> Days </th>
                        <th> Status </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> 1 </td>

                        <td>
                            <div class="media">
                                <div class="media-left pr-20">
                                    <img class="clsCircleImg" src="assets/images/marketing_icon.svg" alt="...">
                                </div>
                                <div class="media-body media-middle">
                                    <p> Mc Donalds </p>
                                </div>
                            </div>
                        </td>

                        <td> Marketing And Promotions </td>

                        <td> anthony@gmail.com </td>

                        <td> 07 December 2019 , 00:49 </td>

                        <td> 26 </td>

                        <td> Positive </td>

                        <td>
                            <button class="btn btn-sm btn-success width_in"> Reinstate </button>
                        </td>

                        <td>
                            <button class="btn btn-sm btn-link width_in"> View </button>
                        </td>
                    </tr>

                    <tr>
                        <td> 2 </td>

                        <td>
                            <div class="media">
                                <div class="media-left pr-20">
                                    <img class="clsCircleImg" src="assets/images/marketing_icon.svg" alt="...">
                                </div>
                                <div class="media-body media-middle">
                                    <p> Mc Donalds </p>
                                </div>
                            </div>
                        </td>

                        <td> Marketing And Promotions </td>

                        <td> anthony@gmail.com </td>

                        <td> 07 December 2019 , 00:49 </td>

                        <td> 26 </td>

                        <td> Positive </td>

                        <td>
                            <button class="btn btn-sm btn-success width_in"> Reinstate </button>
                        </td>

                        <td>
                            <button class="btn btn-sm btn-link width_in"> View </button>
                        </td>
                    </tr>

                    <tr>
                        <td> 3 </td>

                        <td>
                            <div class="media">
                                <div class="media-left pr-20">
                                    <img class="clsCircleImg" src="assets/images/marketing_icon.svg" alt="...">
                                </div>
                                <div class="media-body media-middle">
                                    <p> Mc Donalds </p>
                                </div>
                            </div>
                        </td>

                        <td> Marketing And Promotions </td>

                        <td> anthony@gmail.com </td>

                        <td> 07 December 2019 , 00:49 </td>

                        <td> 26 </td>

                        <td> Positive </td>

                        <td>
                            <button class="btn btn-sm btn-success width_in"> Reinstate </button>
                        </td>

                        <td>
                            <button class="btn btn-sm btn-link width_in"> View </button>
                        </td>
                    </tr>

                    <tr>
                        <td> 4 </td>

                        <td>
                            <div class="media">
                                <div class="media-left pr-20">
                                    <img class="clsCircleImg" src="assets/images/marketing_icon.svg" alt="...">
                                </div>
                                <div class="media-body media-middle">
                                    <p> Mc Donalds </p>
                                </div>
                            </div>
                        </td>

                        <td> Marketing And Promotions </td>

                        <td> anthony@gmail.com </td>

                        <td> 07 December 2019 , 00:49 </td>

                        <td> 26 </td>

                        <td> Positive </td>

                        <td>
                            <button class="btn btn-sm btn-success width_in"> Reinstate </button>
                        </td>

                        <td>
                            <button class="btn btn-sm btn-link width_in"> View </button>
                        </td>
                    </tr>

                    <tr>
                        <td> 5 </td>

                        <td>
                            <div class="media">
                                <div class="media-left pr-20">
                                    <img class="clsCircleImg" src="assets/images/marketing_icon.svg" alt="...">
                                </div>
                                <div class="media-body media-middle">
                                    <p> Mc Donalds </p>
                                </div>
                            </div>
                        </td>

                        <td> Marketing And Promotions </td>

                        <td> anthony@gmail.com </td>

                        <td> 07 December 2019 , 00:49 </td>

                        <td> 26 </td>

                        <td> Positive </td>

                        <td>
                            <button class="btn btn-sm btn-success width_in"> Reinstate </button>
                        </td>

                        <td>
                            <button class="btn btn-sm btn-link width_in"> View </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled no-bor">
                    <a class="page-link" href="#" aria-label="Previous">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>

                <li class="page-item disabled no-bor">
                    <a class="page-link" href="#" aria-label="Previous">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#"> 1 </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#"> 2 </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#"> 3 </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#"> 4 </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#"> 5 </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#"> 6 </a>
                </li>

                <li class="page-item no-bor">
                    <a class="page-link" href="#" aria-label="Next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>

                <li class="page-item no-bor">
                    <a class="page-link" href="#" aria-label="Next">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>