<div class="container-fluid">
    <div class="pt-40 clearfix">
        <div class="clsRadioBlock">
            <div class="row">
                <div class="col-sm-12 justify-content-end d-flex">
                    <form action="" class="form-inline mb-20">
                        <div class="form-group pl-20">
                            <label for="from_date" class="pr-10"> From </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 12 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group pl-20 pr-20">
                            <label for="to_date" class="pr-10"> To </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 19 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="inline-show pl-20">
                                <input type="radio" id="all" name="radio_group_1" checked>
                                <label for="all" (click)="getUsers(null, 'Quarantined')"> All </label>
                            </div>
                            <div class="inline-show pl-20">
                                <input type="radio" id="active" name="radio_group_1">
                                <label for="active" (click)="getUsers(null, 'Reinstated')"> Reinstated </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-responsive mb-30 clsReceipt-table">
            <table class="table table-sm mb-20">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Employee Name </th>
                        <th> Email </th>
                        <th> Quarantine Date </th>
                        <th> Days </th>
                        <th> Status </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cur-poin" *ngFor="let user of users; let indexUser = index">
                        <td>{{indexUser + 1}}</td>
                        <td>
                            <div class="media">
                                <app-attachment [attachment]="user.attachment" [cssClass]="'clsCircleImg'" [type]="original"></app-attachment>
                                <div class="media-body  pl-20 align-self-center">
                                    <p> {{user.name}} </p>
                                </div>
                            </div>
                        </td>
                        <td>{{user.email}}</td>
                        <td>{{user.last_test_date}}</td>
                        <td>{{user.quarantined_days}}</td>
                        <td>{{(user.last_test_status || user.last_test_status == 0) ? ((user.last_test_status == 0) ? 'Negative' : 'Positive') : ''}}</td>
                        <td>
                            <button class="btn btn-sm btn-success width_in"> Reinstate </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-link width_in"><a href="javascript:void(0)" [routerLink]="['/admin/employeeprofile']" [queryParams]="{id:user.id}">View</a></button>
                        </td>
                    </tr>
                    <tr *ngIf="users && users.length === 0">
                        <td colspan="8">No Records</td>
                     </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix pagination justify-content-center" *ngIf="metaData">
            <ngb-pagination [collectionSize]="metaData.total" [pageSize]="metaData.per_page"
                [(page)]="metaData.current_page" [maxSize]="7" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>