<!-- @format -->
<!-- Banner Start -->
<section class="innerBanners">
    <div class="innerBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="innerBanners_box">
                    <h1>Categories</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><p>CATEGORIES</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<div class="imacontainer">
    <div class="content-middle">
        <div class="categoriescontainer mx-auto px-4" *ngIf="!isNodata">
            <ul class="list-unstyled categorieslisting row cateText ml-3">
                <li
                    class="col-md-4"
                    *ngFor="
                        let category of categoriesList.data;
                        trackBy: trackById
                    "
                >
                    <a
                        href="javascript:void(0)"
                        [routerLink]="['/contestants', category.slug]"
                        >{{ category.name }}</a
                    >
                </li>
            </ul>
        </div>
        <div class="categoriescontainer mx-auto px-4" *ngIf="isNodata">
            No Records found.
        </div>
    </div>
</div>
