
.imafeaturescontainer {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}
.homefeatures {
    margin: 140px 0 75px;
    ul {
        li {
            margin-bottom: 100px;
        }
    }
    h2 {
        font-weight: 300;
        font-size: 43px;
        color: #696969;
    }
    p {
        font-weight: 300;
        font-size: 20px;
        color: #696969;
    }
    .features-btn {
        font-weight: 300;
        font-size: 23px;
        padding: 11px;
    }
}
@media (max-width: 1440px) {
    .homefeatures {
        margin: 100px 0 50px;
        ul {
            li {
                margin-bottom: 50px;
            }
        }
        h2 {
            font-size: 34px;
        }
        p {
            font-size: 15px;
        }
        .features-btn {
            font-size: 17px;
        }
    }
}
@media (max-width: 991px) {
    .homefeatures {
        margin: 15px 0;
        ul {
            li {
                margin-bottom: 20px;
            }
        }
        h2 {
            font-size: 23px;
        }
        p {
            font-size: 13px;
        }
        .features-btn {
            font-size: 16px;
        }
    }
}
