<!-- Banner Start -->
<section class="innerBanners">
    <div class="innerBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="innerBanners_box">
                    <h1>Sponsors</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><p>SPONSORS</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Comming Soon Start -->
<section class="commingSoon">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="commingSoon-text">Comming Soon!</h4>
            </div>
        </div>
    </div>
</section>
<!-- Comming Soon End -->
