<div class="container-fluid">
    <div class="pt-40 clearfix custom-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a href="#activity" class="nav-link" aria-controls="activity" role="tab" data-toggle="tab"> Activity
                </a>
            </li>

            <li class="nav-item">
                <a href="#tested" class="nav-link active" aria-controls="tested" role="tab" data-toggle="tab"> Tested
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="activity">
                <div class="clearfix mt-20">
                    <form action="" class="form-inline">
                        <div class="form-group pr-20">
                            <label for="from_date" class="pr-10"> From </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 12 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group pr-20">
                            <label for="to_date" class="pr-10"> To </label>
                            <div class="clsSelect-icon">
                                <select name="" id="" class="form-control">
                                    <option value=""> 19 - 01 - 2020 </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="clearfix mt-30 clsReceipt-table">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th> Today </th>
                                <th class="text-right"> Total Activity 03 </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left pr-20">
                                            <img class="clsCircleImg" src="assets/images/user_icon.png" alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <p> Ronald Porter </p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    07 January 2019 | 18:36
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left pr-20">
                                            <img class="clsCircleImg" src="assets/images/user_icon.png" alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <p> Ronald Porter </p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    07 January 2019 | 18:36
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left pr-20">
                                            <img class="clsCircleImg" src="assets/images/user_icon.png" alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <p> Ronald Porter </p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    07 January 2019 | 18:36
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="clearfix mt-30 clsReceipt-table mb-30">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th> Yesterday </th>
                                <th class="text-right"> Total Activity 10 </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left pr-20">
                                            <img class="clsCircleImg" src="assets/images/user_icon.png" alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <p> Ronald Porter </p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    07 January 2019 | 18:36
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left pr-20">
                                            <img class="clsCircleImg" src="assets/images/user_icon.png" alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <p> Ronald Porter </p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    07 January 2019 | 18:36
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left pr-20">
                                            <img class="clsCircleImg" src="assets/images/user_icon.png" alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <p> Ronald Porter </p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    07 January 2019 | 18:36
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane active" id="tested">
                <div class="clearfix pt-40">
                    <p class="text-21 db-c"> Positive (3) </p>

                    <div class="clearfix mt-20 clsReceipt-table clsPagesTable table-responsive">
                        <table class="table table-sm mb-20">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Employee Name </th>
                                    <th> Tested Date </th>
                                    <th> Type of Test </th>
                                    <th> Status </th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td> 1 </td>

                                    <td>
                                        <div class="media">
                                            <div class="media-left pr-20">
                                                <img class="clsCircleImg" src="assets/images/marketing_icon.svg"
                                                    alt="...">
                                            </div>
                                            <div class="media-body media-middle">
                                                <p> Ronald Porter </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td> 07 December 2019 , 00:49 </td>

                                    <td> RT-PCR </td>

                                    <td> Positive </td>

                                    <td>
                                        <button class="btn btn-sm btn-success width_in"> Deactive </button>
                                    </td>

                                    <td>
                                        <button class="btn btn-sm btn-link width_in"> View </button>
                                    </td>

                                </tr>

                                <tr>
                                    <td> 2 </td>

                                    <td>
                                        <div class="media">
                                            <div class="media-left pr-20">
                                                <img class="clsCircleImg" src="assets/images/marketing_icon.svg"
                                                    alt="...">
                                            </div>
                                            <div class="media-body media-middle">
                                                <p> Ronald Porter </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td> 07 December 2019 , 00:49 </td>

                                    <td> Rapid Ag </td>

                                    <td> Positive </td>

                                    <td>
                                        <button class="btn btn-sm btn-success width_in"> Deactive </button>
                                    </td>

                                    <td>
                                        <button class="btn btn-sm btn-link width_in"> View </button>
                                    </td>

                                </tr>

                                <tr>
                                    <td> 3 </td>

                                    <td>
                                        <div class="media">
                                            <div class="media-left pr-20">
                                                <img class="clsCircleImg" src="assets/images/marketing_icon.svg"
                                                    alt="...">
                                            </div>
                                            <div class="media-body media-middle">
                                                <p> Ronald Porter </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td> 07 December 2019 , 00:49 </td>

                                    <td> RT-PCR </td>

                                    <td> Positive </td>

                                    <td>
                                        <button class="btn btn-sm btn-success width_in"> Deactive </button>
                                    </td>

                                    <td>
                                        <button class="btn btn-sm btn-link width_in"> View </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="clearfix pt-60">
                    <p class="text-21 db-c"> Negative (2) </p>

                    <div class="clearfix mt-20 clsReceipt-table clsPagesTable table-responsive mb-20">
                        <table class="table table-sm mb-20">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Employee Name </th>
                                    <th> Tested Date </th>
                                    <th> Type of Test </th>
                                    <th> Status </th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td> 1 </td>

                                    <td>
                                        <div class="media">
                                            <div class="media-left pr-20">
                                                <img class="clsCircleImg" src="assets/images/marketing_icon.svg"
                                                    alt="...">
                                            </div>
                                            <div class="media-body media-middle">
                                                <p> Ronald Porter </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td> 07 December 2019 , 00:49 </td>

                                    <td> RT-PCR </td>

                                    <td> Negative </td>

                                    <td>
                                        <button class="btn btn-sm btn-success width_in"> Deactive </button>
                                    </td>

                                    <td>
                                        <button class="btn btn-sm btn-link width_in"> View </button>
                                    </td>

                                </tr>

                                <tr>
                                    <td> 2 </td>

                                    <td>
                                        <div class="media">
                                            <div class="media-left pr-20">
                                                <img class="clsCircleImg" src="assets/images/marketing_icon.svg"
                                                    alt="...">
                                            </div>
                                            <div class="media-body media-middle">
                                                <p> Ronald Porter </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td> 07 December 2019 , 00:49 </td>

                                    <td> Rapid Ag </td>

                                    <td> Positive </td>

                                    <td>
                                        <button class="btn btn-sm btn-success width_in"> Deactive </button>
                                    </td>

                                    <td>
                                        <button class="btn btn-sm btn-link width_in"> View </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>