<!-- Banner Start -->
<section class="executiveBanners">
    <div class="executiveBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="executiveBanners_box">
                    <h1>Executive Team</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><p>EXECUTIVE TEAM</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Team Start -->
<section class="executiveteamSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="executiveteamSec-box text-center">
                        <img src="assets/images/executiveteam1.jpg" alt="" class="img-fluid">
                    <div class="executiveteamSec-content">
                        <h4>Lucille Moran</h4>
                        <p>director</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="executiveteamSec-box text-center">
                        <img src="assets/images/executiveteam2.jpg" alt="" class="img-fluid">
                    <div class="executiveteamSec-content">
                        <h4>Helen Thompson</h4>
                        <p>MANAGER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="executiveteamSec-box text-center">
                        <img src="assets/images/executiveteam3.jpg" alt="" class="img-fluid">
                    <div class="executiveteamSec-content">
                        <h4>Mildred Rodriguez</h4>
                        <p>PHOTOGRAPHER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="executiveteamSec-box text-center">
                        <img src="assets/images/executiveteam3.jpg" alt="" class="img-fluid">
                    <div class="executiveteamSec-content">
                        <h4>Cora Tucker</h4>
                        <p>MANAGER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="executiveteamSec-box text-center">
                        <img src="assets/images/executiveteam2.jpg" alt="" class="img-fluid">
                    <div class="executiveteamSec-content">
                        <h4>Rosa Robinson</h4>
                        <p>MANAGER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="executiveteamSec-box text-center">
                        <img src="assets/images/executiveteam1.jpg" alt="" class="img-fluid">
                    <div class="executiveteamSec-content">
                        <h4>Lucille Moran</h4>
                        <p>director</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team End -->