<!-- @format -->

<div class="imacontainer">
    <div class="subheader position-relative">
        <img src="assets/images/contestant-headerbg.jpg" class="img-fluid" />
    </div>
    <div class="content-middle donate">
        <div class="donatecontainer mx-auto">
            <div class="donateinner">
                <span class="donateto">Donate to</span>
                <h2 class="rozhafont donatename">
                    IMA
                </h2>
                <div class="donate-content text-center mx-auto">
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam ac est id justo
                    </p>
                    <a
                        href="javascript:void(0)"
                        class="btn btn-warning text-uppercase d-block donate-btn text-white"
                        >Donate</a
                    >
                    <div class="gofundme">
                        <img
                            src="assets/images/gofundme.png"
                            class="img-fluid"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
