
@import '../signup/signup.component.scss';

.forgotpassword {
    padding: 110px 0 75px;

    h2 {
        font-weight: 300;
        font-size: 48px;
        color: #828282;
    }

    p {
        font-size: 25px;
        line-height: normal;
        color: #828282;
    }
}

.signupwhite {
    height: calc(100vh - 30px);
}

@media (max-width: 1440px) {
    .forgotpassword {
        padding: 85px 0 60px;
        h2 {
            font-size: 37px;
        }
        p {
            font-size: 18px;
        }
    }
}
@media (max-width: 767px) {
    .forgotpassword {
        padding: 50px 0 30px;
    }
}
