<!-- @format -->

<div class="login-page signup-page">
    <div class="signupwhite">
        <div class="text-center toplogo">
            <img src="assets/images/login-logo.jpg" class="img-fluid" />
        </div>

        <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
            <div class="forgotpassword">
                <h2>Forgot Your Password?</h2>
                <p>
                    Enter your email below and we’ll send you a link to reset
                    your password
                </p>
            </div>
            <div class="form-content">
                <div class="form-group">
                    <input
                        type="email"
                        formControlName="email"
                        class="form-control input-underline input-lg"
                        placeholder="{{ 'Email Address' | translate }}"
                    />
                </div>
                <div
                    class="invalid-feedback-show"
                    *ngIf="isSubmitted && f.email.errors.required"
                >
                    {{ 'email is required' | translate }}
                </div>
            </div>
            <div class="login-actions">
                <button class="btn rounded-btn register-btn" type="submit">
                    {{ 'Reset Password' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>
