<!-- Banner Start -->
<section class="innerBanners">
    <div class="innerBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="innerBanners_box">
                    <h1>Purchase Vote</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><p>PURCHASE VOTE</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<div class="imacontainer">
    <div class="content-middle">
        <div class="purchasecontainer mx-auto px-4" *ngIf="user">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="purchase-contimg mx-auto">
                        <app-attachment
                            [attachment]="user.attachment"
                            [type]="original"
                        ></app-attachment>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <h2 class="purchase-contesttitle">{{ user.first_name }} {{ user.last_name }}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <ul class="list-unstyled votepurchase-listing" *ngFor="let votePackage of votePackages">
                <li>
                    <div class="row mt-5 mb-5">
                        <div class="col-md-7">
                            <h2>{{votePackage.name}}</h2>
                            <p>{{votePackage.description}}</p>
                        </div>
                        <div class="col-md-5 text-center">
                            <div class="textSuccess purchase-amount">
                                {{ votePackage.price | currency: settings.CURRENCY_CODE:'symbol' }}
                            </div>
                            <a
                                href="javascript:void(0)"
                                (click)="redirect(votePackage.id)"
                                class="btn btnSuccess text-uppercase px-5 purchase-btn"
                                >Purchase</a
                            >
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
